

body {
  overflow-x: hidden;
  /* background-image: url(checkered-purple-persp2.png);
  width: 100%; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.div-pelicula-fundo {
  /* background-color: #2d342d; */
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -900;
}

.video-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -990;
}

.dash-right {
    margin-top: 4vh;
    width: 74%;
    height: fit-content; 
    position: relative;
    top: 0;
    left: 22%;
    color: #232323;
    display: flex;
    justify-content: center;
  } 

  .avisos {
    margin-top: -14vh;
  }

  .container {
    width: 100%;
    margin-top: 10vh;
  }

  .container h1 {
    font-size: 2.4rem;
    margin-bottom: 2vh;
    border-bottom: 1px solid #f0f0f0;
    width: 72vw;
    color: #f0f0f0;
  }

  .form {
    font-size: 1.2rem;
  }

  .form-postagem-label {
    color: #f0f0f0;
  }

  .form-input {
    width: 72vw;
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 6px;
    padding: 1%;
    font-size: 1rem;
  }

  .form-textarea {
    width: 72vw;
    border-radius: 6px;
    padding: 1%;
    margin-top: 1vh;
    font-size: 1rem;
  }

  .button-enviar-container {
    display: flex;
    margin-top: 4vh;
    margin-left: 63vw;
  }

  .button-enviar {
    border: none;
    width: 8vw;
    height: 4vh;
    border-radius: 8px;
    background-color:  rgb(0, 60, 100);
    border: 2px solid white;
    color: white;
    font-weight: 600;
    transition: 0.8s;
  }

  .button-enviar:hover {
    transform: translateY(-2px);
    border: 3px solid white;
    width: 8vw;
    height: 4vh;
    border-radius: 8px;
    background-color:  rgb(171, 202, 223);
    color: white;
    transition: 0.8s;
  }

  .button-enviar:active {
    transform: translateY(1px);
    border: 2px solid  rgb(35, 89, 126);
    width: 8vw;
    height: 4vh;
    border-radius: 8px;
    background-color:  rgb(17, 90, 138);
    color: white;
    transition: 0.8s;
  }

  .btnX {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 93vw;
    opacity: 0.5;
    color: white;
    font-size: 1.35rem;
    border: 1px solid white;
    padding: 1%;
    border-radius: 96px;
    margin-top: 4vh;
  }

  .btnX:hover {
    opacity: 0.9;
  }

  .container-btnX {
    position: relative;
    z-index: 99;
    margin-top: 15vh;
    text-decoration: none;
  }