

body {
  overflow-x: hidden;
  /* background-image: url(checkered-purple-persp2.png);
  width: 100%; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.div-pelicula-fundo {
  /* background-color: #2d342d; */
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -900;
}

.video-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -990;
}

.dash-right {
    margin-top: 4vh;
    width: 74%;
    height: fit-content; 
    position: relative;
    top: 0;
    left: 22%;
    color: #232323;
    display: flex;
    justify-content: center;
  } 

  .container {
    width: 100%;
    margin-top: 10vh;
  }

  .container h1 {
    font-size: 2.4rem;
    margin-bottom: 2vh;
    border-bottom: 1px solid #f0f0f0;
    width: 70vw;
    color: #f0f0f0;
  }

  .form {
    font-size: 1.2rem;
  }

  .form-postagem-label {
    color: #f0f0f0;
  }

  .form-input {
    width: 72vw;
    height: 5vh;
    margin-bottom: 2vh;
    border-radius: 6px;
  }

  .form-textarea {
    width: 72vw;
    border-radius: 6px;
  }

  .button-enviar-container {
    display: flex;
    margin-top: 4vh;
    margin-left: 63vw;
  }

  .button-enviar {
    border: none;
    width: 8vw;
    height: 4vh;
    border-radius: 8px;
    background-color:  rgb(51, 130, 134);
    border: 1px solid white;
    color: white;
    transition: 0.8s;
  }

  .button-enviar:hover {
    transform: translateY(-2px);
    border: 2px solid white;
    width: 8vw;
    height: 4vh;
    border-radius: 8px;
    background-color: rgb(134, 196, 199);
    color: white;
    transition: 0.8s;
  }

  .button-enviar:active {
    transform: translateY(1px);
    border: 2px solid rgb(51, 80, 82);
    width: 8vw;
    height: 4vh;
    border-radius: 8px;
    background-color: rgb(66, 123, 126);
    color: white;
    transition: 0.8s;
  }
