
body {
  overflow-x: hidden;
  /* background-image: url(checkered-purple-persp2.png);
  width: 100%; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

html { 
  position: relative;
  background: url(assets/posts/ss_ff02982d53521a255cdb49a893d80be7963c7019.1920x1080.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -999;
}

.div-pelicula-fundo {
  background-color: rgba(0, 0, 0, 0.14);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -900;
}

.video-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -990;
}

.div_fundo {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 12vh;
  background: rgb(120,125,130);
  background: linear-gradient(40deg, rgba(120,125,130,0) 23%, rgba(160,158,164,1) 100%);
  top: 0;
  display: flex;
  position: absolute;
  z-index: -999;
}


.topicos {
  background-color: rgba(223, 226, 234, 0.8);
  border: 1px solid white;
  color: rgb(26, 26, 26);
  border-radius: 20px 0 0 20px;
  font-weight: 800;
}

.dash-right {
    margin-top: 4vh;
    width: 82%;
    height: fit-content;
    position: relative;
    top: 0;
    left: 22%;
    color: #151515;
  } 

  .container h1 {
    font-size: 2.4rem;
    margin-bottom: 2vh;
    border-bottom: 2px solid #f0f0f0;
    width: 70vw;
    color: #f0f0f0;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }

  form {
    font-size: 1.2rem;
  }

  .form-postagem-label {
    color: #f0f0f0;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }

  form input {
    width: 72vw;
    height: 5vh;
    margin-bottom: 2vh; 
    border-radius: 6px;
  }

  form textarea {
    width: 72vw;
    border-radius: 6px;
  }

  .button-enviar-container {
    display: flex;
    margin-top: 2vh;
    margin-left: 64vw;
  }

  .button-enviar {
    border: none;
    width: 8vw;
    height: 4vh;
    border-radius: 8px;
    background-color: rgb(82, 151, 155);
    border: 1px solid white;
    color: white;
    transition: 0.8s;
  }
 
  .button-enviar:hover {
    transform: translateY(-2px);
    border: 2px solid white;
    width: 8vw;
    height: 4vh;
    border-radius: 8px;
    background-color: rgb(142, 202, 205);
    color: white;
    transition: 0.8s;
  }

  .button-enviar:active {
    transform: translateY(1px);
    border: 3px solid rgb(51, 80, 82);
    width: 8vw;
    height: 4vh;
    border-radius: 8px;
    background-color: rgb(66, 123, 126);
    color: white;
    transition: 0.8s;
  }

  .feed_container {
    font-size: 1rem;
  }

  .publicacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 7px 3px 1px rgba(184, 191, 213, 0.5);
    padding: 20px;
    margin-bottom: 4vh;
    background-color: #e2e2e2;
    border-radius: 6px;
    width: 72vw;
  }

  .publicacao-titulo b {
    display: flex;
    width: 100%;
    word-break: break-all;
    justify-content: flex-start;
    font-size: 1.6rem;
    margin-top: 2vh;
    margin-bottom: 4vh;
    margin-left: 1vw;
  }

  .publicacao-titulo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  .publicacao-descricao b {
    word-break: break-all;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-size: 0.9rem;
    margin-top: 2vh;
    margin-bottom: 6vh;
  }

  .publicacao-descricao {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  .div-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .publicacao-btn-editar {
    border: none;
    background-color:  rgb(51, 130, 134);
    color: white;
    width: 6vw;
    height: 3vh;
    border-radius: 6px;
    margin: 4px;
    transition: 0.6s;
  }

  .publicacao-btn-editar:hover {
    transform: translateY(-2px);
    border: 2px solid white;
    width: 6vw;
    height: 3vh;
    border-radius: 8px;
    background-color: rgb(134, 196, 199);
    color: white;
    transition: 0.6s;
  }

  .publicacao-btn-editar:active {
    transform: translateY(1px);
    border: 2px solid rgb(51, 80, 82);
    width: 6vw;
    height: 3vh;
    border-radius: 8px;
    background-color: rgb(66, 123, 126);
    color: white;
    transition: 0.6s;
  }

  .mensagem { 
    color: white;
  }

  .container-searchbar {
    display: flex;
    margin-bottom: 4vh;
  }

  .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1817;
    border-radius: 10px;
    width: 10vw;
    height: 4vh;
    font-size: 1.1rem;
    text-align: justify;
    border: none;
    color: #f0f0f0;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }

.searchbar:hover {
  transition: 0.4s;
  background-color: #1d2c2a;
  box-shadow: 0 5px rgba(0, 0, 0, 0.36);
  color: white;
}

.searchbar:active {
  background-color: #395b56;
  box-shadow: 0 2.5px rgba(0, 0, 0, 0.8);
    transform: translateY(4px);
    transition: 0.4s;
  }